
server:
  port: 8761 #端口
eureka:
  instance:
    hostname: eureka-server #服务端实例名称
  client:
    registerWithEureka: false #不把自己注册到eureka上
    fetch-registry: false
    serviceUrl:
      defaultZone: http://127.0.0.1:8761/eureka/

spring:
  boot:
    admin:
      client:   #服务监控客户端
        url: http://127.0.0.1:8771
  zipkin:
    base-url: http://127.0.0.1:9411
    enabled: true
